<p id="notice"><%= notice %></p>

<p>
  <strong>Lang key:</strong>
  <%= @chart_account_klass.lang_key %>
</p>

<%= link_to 'Edit', edit_chart_account_klass_path(@chart_account_klass) %> |
<%= link_to 'Back', chart_account_klasses_path %>
