<h1>Editing Sheets Statement Klass</h1>

<%= render 'form', sheets_statement_klass: @sheets_statement_klass %>

<%= link_to 'Show', @sheets_statement_klass %> |
<%= link_to 'Back', sheets_statement_klasses_path %>
