<p id="notice"><%= notice %></p>

<p>
  <strong>Lang key:</strong>
  <%= @sheets_statement_klass.lang_key %>
</p>

<%= link_to 'Edit', edit_sheets_statement_klass_path(@sheets_statement_klass) %> |
<%= link_to 'Back', sheets_statement_klasses_path %>
